## Preprocessing

In [30]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [31]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns = ['EIN', 'AFFILIATION'])
application_df

,NAME,APPLICATION_TYPE,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,C1000,ProductDev,Association,1,0,N,5000,0
34295,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,C3000,ProductDev,Association,1,0,N,5000,0
34296,PTA HAWAII CONGRESS,T3,C2000,Preservation,Association,1,0,N,5000,0
34297,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,C3000,ProductDev,Association,1,0,N,5000,1
34298,WATERHOUSE CHARITABLE TR,T3,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [32]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [33]:
# Look at APPLICATION_TYPE value counts for binning
application_type_count = application_df['APPLICATION_TYPE'].value_counts()
application_type_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [34]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_type_count[application_type_count < 528].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [36]:
# Look at INCOME_AMT value counts for binning
income_amt_count = application_df['INCOME_AMT'].value_counts()
income_amt_count

0                24388
25000-99999       3747
100000-499999     3374
1M-5M              955
1-9999             728
10000-24999        543
10M-50M            240
5M-10M             185
50M+               139
Name: INCOME_AMT, dtype: int64

In [37]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(income_amt_count[income_amt_count < 728].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['INCOME_AMT'] = application_df['INCOME_AMT'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['INCOME_AMT'].value_counts()

0                24388
25000-99999       3747
100000-499999     3374
Other             1107
1M-5M              955
1-9999             728
Name: INCOME_AMT, dtype: int64

In [38]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummies = pd.get_dummies(application_df)
application_dummies

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_1 DAY RANCH RESCUE AND RURAL OKLAHOMA ANIMAL RESOURCE INC,NAME_100 BLACK MEN OF AMERICA,NAME_100 BLACK MEN OF MEMPHIS INC,NAME_100 BLACK MEN OF WEST GEORGIA INC,NAME_1150 WEBSTER STREET INC,NAME_116TH CAVALRY REGIMENT CHAPTER OF THE US CAVALRY & ARMOR ASSOCIATION,NAME_13TH BOMB SQUADRON ASSOCIATION,...,ORGANIZATION_Corporation,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_100000-499999,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_Other,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0

In [39]:
# Split our preprocessed data into our features and target arrays
X = application_dummies.drop(['IS_SUCCESSFUL'], axis= 1)
y = application_dummies['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 50)

In [40]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [41]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train.iloc[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)


# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 8)                 157344

 dense_4 (Dense)             (None, 5)                 45

 dense_5 (Dense)             (None, 1)                 6

=================================================================
Total params: 157,395
Trainable params: 157,395
Non-trainable params: 0
_________________________________________________________________

In [42]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [43]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 9s 10ms/step - loss: 0.5669 - accuracy: 0.7428
Epoch 2/100
804/804 [==============================] - 7s 9ms/step - loss: 0.3193 - accuracy: 0.8592
Epoch 3/100
804/804 [==============================] - 8s 10ms/step - loss: 0.1616 - accuracy: 0.9361
Epoch 4/100
804/804 [==============================] - 7s 9ms/step - loss: 0.1221 - accuracy: 0.9475
Epoch 5/100
804/804 [==============================] - 8s 10ms/step - loss: 0.1117 - accuracy: 0.9511
Epoch 6/100
804/804 [==============================] - 8s 10ms/step - loss: 0.1073 - accuracy: 0.9531
Epoch 7/100
804/804 [==============================] - 7s 8ms/step - loss: 0.1051 - accuracy: 0.9549
Epoch 8/100
804/804 [==============================] - 8s 9ms/step - loss: 0.1034 - accuracy: 0.9560
Epoch 9/100
804/804 [==============================] - 7s 9ms/step - loss: 0.1017 - accuracy: 0.9560
Epoch 10/100
804/804 [==============================] - 8s 10ms/step - loss: 0.1007 - accuracy: 0.9556
Epoch 11/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0998 - accuracy: 0.9568
Epoch 12/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0987 - accuracy: 0.9577
Epoch 13/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0986 - accuracy: 0.9574
Epoch 14/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0983 - accuracy: 0.9572
Epoch 15/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0977 - accuracy: 0.9573
Epoch 16/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0972 - accuracy: 0.9581
Epoch 17/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0975 - accuracy: 0.9579
Epoch 18/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0970 - accuracy: 0.9582
Epoch 19/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0966 - accuracy: 0.9584
Epoch 20/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0969 - accuracy: 0.9584
Epoch 21/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0965 - accuracy: 0.9587
Epoch 22/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0961 - accuracy: 0.9584
Epoch 23/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0964 - accuracy: 0.9577
Epoch 24/100
804/804 [==============================] - 9s 11ms/step - loss: 0.0959 - accuracy: 0.9584
Epoch 25/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0957 - accuracy: 0.9587
Epoch 26/100
804/804 [==============================] - 8s 9ms/step - loss: 0.0957 - accuracy: 0.9587
Epoch 27/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0955 - accuracy: 0.9590
Epoch 28/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0952 - accuracy: 0.9591
Epoch 29/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0951 - accuracy: 0.9589
Epoch 30/100
804/804 [==============================] - 9s 11ms/step - loss: 0.0950 - accuracy: 0.9594
Epoch 31/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0950 - accuracy: 0.9590
Epoch 32/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0951 - accuracy: 0.9594
Epoch 33/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0962 - accuracy: 0.9591
Epoch 34/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0942 - accuracy: 0.9592
Epoch 35/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0920 - accuracy: 0.9595
Epoch 36/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0908 - accuracy: 0.9601
Epoch 37/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0903 - accuracy: 0.9619
Epoch 38/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0899 - accuracy: 0.9626
Epoch 39/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0898 - accuracy: 0.9624
Epoch 40/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0897 - accuracy: 0.9626
Epoch 41/100
804/804 [==============================] - 9s 11ms/step - loss: 0.0894 - accuracy: 0.9626
Epoch 42/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0894 - accuracy: 0.9632
Epoch 43/100
804/804 [==============================] - 7s 8ms/step - loss: 0.0892 - accuracy: 0.9626
Epoch 44/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0890 - accuracy: 0.9631
Epoch 45/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0887 - accuracy: 0.9631
Epoch 46/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0889 - accuracy: 0.9632
Epoch 47/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0888 - accuracy: 0.9630
Epoch 48/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0885 - accuracy: 0.9631
Epoch 49/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0886 - accuracy: 0.9629
Epoch 50/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0881 - accuracy: 0.9636
Epoch 51/100
804/804 [==============================] - 9s 11ms/step - loss: 0.0883 - accuracy: 0.9634
Epoch 52/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0882 - accuracy: 0.9631
Epoch 53/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0881 - accuracy: 0.9637
Epoch 54/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0880 - accuracy: 0.9634
Epoch 55/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0879 - accuracy: 0.9631
Epoch 56/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0877 - accuracy: 0.9635
Epoch 57/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0878 - accuracy: 0.9635
Epoch 58/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0877 - accuracy: 0.9633
Epoch 59/100
804/804 [==============================] - 8s 9ms/step - loss: 0.0883 - accuracy: 0.9638
Epoch 60/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0889 - accuracy: 0.9628
Epoch 61/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0870 - accuracy: 0.9641
Epoch 62/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0867 - accuracy: 0.9642
Epoch 63/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0865 - accuracy: 0.9640
Epoch 64/100
804/804 [==============================] - 9s 11ms/step - loss: 0.0864 - accuracy: 0.9644
Epoch 65/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0865 - accuracy: 0.9641
Epoch 66/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0865 - accuracy: 0.9642
Epoch 67/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0864 - accuracy: 0.9645
Epoch 68/100
804/804 [==============================] - 8s 9ms/step - loss: 0.0866 - accuracy: 0.9642
Epoch 69/100
804/804 [==============================] - 9s 11ms/step - loss: 0.0860 - accuracy: 0.9643
Epoch 70/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0861 - accuracy: 0.9640
Epoch 71/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0860 - accuracy: 0.9640
Epoch 72/100
804/804 [==============================] - 9s 11ms/step - loss: 0.0859 - accuracy: 0.9643
Epoch 73/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0858 - accuracy: 0.9646
Epoch 74/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0858 - accuracy: 0.9639
Epoch 75/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0859 - accuracy: 0.9647
Epoch 76/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0857 - accuracy: 0.9643
Epoch 77/100
804/804 [==============================] - 12s 15ms/step - loss: 0.0857 - accuracy: 0.9642
Epoch 78/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0851 - accuracy: 0.9643
Epoch 79/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0857 - accuracy: 0.9641
Epoch 80/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0857 - accuracy: 0.9644
Epoch 81/100
804/804 [==============================] - 8s 9ms/step - loss: 0.0853 - accuracy: 0.9643
Epoch 82/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0852 - accuracy: 0.9645
Epoch 83/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0854 - accuracy: 0.9647
Epoch 84/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0854 - accuracy: 0.9642
Epoch 85/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0851 - accuracy: 0.9645
Epoch 86/100
804/804 [==============================] - 8s 9ms/step - loss: 0.0850 - accuracy: 0.9644
Epoch 87/100
804/804 [==============================] - 8s 11ms/step - loss: 0.0850 - accuracy: 0.9648
Epoch 88/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0852 - accuracy: 0.9642
Epoch 89/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0848 - accuracy: 0.9647
Epoch 90/100
804/804 [==============================] - 8s 11ms/step - loss: 0.0847 - accuracy: 0.9648
Epoch 91/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0848 - accuracy: 0.9643
Epoch 92/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0846 - accuracy: 0.9648
Epoch 93/100
804/804 [==============================] - 9s 11ms/step - loss: 0.0848 - accuracy: 0.9644
Epoch 94/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0847 - accuracy: 0.9646
Epoch 95/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0846 - accuracy: 0.9647
Epoch 96/100
804/804 [==============================] - 8s 9ms/step - loss: 0.0846 - accuracy: 0.9647
Epoch 97/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0847 - accuracy: 0.9648
Epoch 98/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0848 - accuracy: 0.9646
Epoch 99/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0846 - accuracy: 0.9649
Epoch 100/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0845 - accuracy: 0.9649

In [45]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.7013 - accuracy: 0.6539 - 660ms/epoch - 2ms/step
Loss: 0.7013351917266846, Accuracy: 0.6538775563240051

In [ ]:
# Export our model to HDF5 file